{% extends 'social/base.html' %}


<title>
        {% block title %}
        {{ block.super }}  Semi-Restful Users
        {% endblock title %}
</title>


{% block content %}

<div class="container">
                <div class="card-panel teal lighten-3">               
                        <div class="flex-container">
                            <span class="h2 mb-3 font-weight-normal">Add a new user</span>  
                        </div>
                <div>
                        <form method="POST" class="col s12">
                                <div class="input-field col s6">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="icon_prefix" type="text" class="validate">
                                        <label for="icon_prefix">First Name:</label>
                                </div>
                                <div class="input-field col s6">
                                        <i class="material-icons prefix">account_box</i>
                                        <input id="icon_prefix" type="text" class="validate">
                                        <label for="icon_prefix">Last Name:</label>
                                </div>
                                <div class="input-field col s6">
                                        <i class="material-icons prefix">email</i>
                                        <input id="icon_prefix" type="text" class="validate">
                                        <label for="icon_prefix">Email:</label>
                                </div>

                        </form> 


                        <a href="{% url 'useradd' %}"><button class="btn-small waves-effect red lighten-2 z-depth-3">Create</button></a><br> 
                        <a href="{% url 'userhome' %}"><h6 class="h6 mb-3 font-weight-normal">Go Back</h6></a>   
                </div>


                </div>
</div>

{% endblock %}
