__pycache__/


## Social App ##
social/models.py
social/views.py
social/__pycache__/

## Ajax Demos App ##
ajaxdemos/models.py
ajaxdemos/views.py
ajaxdemos/__pycache__/

## Ajax Pagination App ##
ajaxpagination/models.py
ajaxpagination/views.py
ajaxpagination/__pycache__/

## Ajax Search App ##
ajaxsearch/models.py
ajaxsearch/views.py
ajaxsearch/__pycache__/

## Cool Apis App ##
coolapis/models.py
coolapis/views.py
coolapis/__pycache__/

## iTunes App ##
itunes/models.py
itunes/views.py
itunes/__pycache__/

