{% extends 'semirestful/base.html' %}


<title>
        {% block title %}
        {{ block.super }}  Semi-Restful Users
        {% endblock title %}
</title>


{% block content %}

<div class="container">
                <div class="card-panel teal lighten-3">               
                        <div class="flex-container">
                            <span class="h2 mb-3 font-weight-normal">Edit User 1</span>  
                        </div>
                <div>
                        <form method="POST" class="col s12">
                                <div class="input-field col s6">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="icon_prefix" type="text" class="validate">
                                        <label for="icon_prefix">First Name:</label>
                                </div>
                                <div class="input-field col s6">
                                        <i class="material-icons prefix">account_box</i>
                                        <input id="icon_prefix" type="text" class="validate">
                                        <label for="icon_prefix">Last Name:</label>
                                </div>
                                <div class="input-field col s6">
                                        <i class="material-icons prefix">email</i>
                                        <input id="icon_prefix" type="text" class="validate">
                                        <label for="icon_prefix">Email:</label>
                                </div>

                        </form> 


                        <a href=""><button class="btn-small waves-effect red lighten-2 z-depth-3">Update</button></a><br><br>
                        <a href="{% url 'usershow' %}"><span class="h6 mb-3 font-weight-normal">Show</span></a>  |  <a href="{% url 'userhome' %}"><span class="h6 mb-3 font-weight-normal">Go Back</span></a>   
                </div>


                </div>
</div>

{% endblock %}
