{% extends 'social/base.html' %}


<title>
        {% block title %}
        {{ block.super }}  Ninja Gold
        {% endblock title %}
</title>


{% block content %}

<div class="container">
    <div class="card-panel teal lighten-3">               
            <div class="flex-container">
                <span class="h3 mb-3 font-weight-normal">Welcome to Ninja Gold!</span>  
                <div class="flex-container4">
                        <div><h5 class="h5 mb-3 font-weight-normal"><b>Your Gold:</b></h5></div>
                        <h5 class="box4 h5 mb-3 font-weight-normal">{{ request.session.gold }}</h5>
                </div>
            </div> 
            
            <div class="row">
                

                    <div class="col s4 box2 flex-container3">
                        <form action="processgold" method="POST">
                            {% csrf_token %}
                            <span class="h5 mb-3 font-weight-normal"><b>Farm</b></span>
                            <h6 class="h6 mb-3 font-weight-normal">(earns 10-20 gold)</h6>
                            <input type="hidden" name="location" value="farm">
                            <input class="btn-small waves-effect red lighten-2 z-depth-3" type="submit" value="Find Gold!"> 
                        </form>
                    </div>
                    <div class="col s4 box2 flex-container3">
                        <form action="processgold" method="POST">
                            {% csrf_token %}
                            <span class="h5 mb-3 font-weight-normal"><b>Cave</b></span>
                            <h6 class="h6 mb-3 font-weight-normal">(earns 5-10 gold)</h6>
                            <input type="hidden" name="location" value="cave">
                            <input class="btn-small waves-effect red lighten-2 z-depth-3" type="submit" value="Find Gold!">
                        </form> 
                    </div>
                    <div class="col s4 box2 flex-container3">
                        <form action="processgold" method="POST">
                            {% csrf_token %}
                            <span class="h5 mb-3 font-weight-normal"><b>House</b></span>
                            <h6 class="h6 mb-3 font-weight-normal">(earns 2-5 gold)</h6>
                            <input type="hidden" name="location" value="house">
                            <input class="btn-small waves-effect red lighten-2 z-depth-3" type="submit" value="Find Gold!">
                        </form>  
                    </div>
                    <div class="col s4 box2 flex-container3">
                         <form action="processgold" method="POST">
                             {% csrf_token %}
                            <span class="h5 mb-3 font-weight-normal"><b>Casino</b></span>
                            <h6 class="h6 mb-3 font-weight-normal">(earns/takes 0-50 gold)</h6>
                            <input type="hidden" name="location" value="casino">
                            <input class="btn-small waves-effect red lighten-2 z-depth-3" type="submit" value="Find Gold!">
                        </form>  
                    </div>
                
            </div>
            <div>
                    <h6 class="h6 mb-3 font-weight-normal"><b>Activities: {{ gold_earned }}</b></h6>
                    <div class="box3">
                        <div class="scroll-box2">        
                        {% for activity in request.session.activities %}
                            {% if "lost" in activity %}
                            <span class="sred">{{ activity }} </span><br>
                            {% else %}
                            <span class="sgreen">{{ activity }} </span><br>
                            {% endif %}
                        {% endfor %}
                        </div>
            
         

                    </div>
                    <a href="{% url 'reset' %}"><button class="btn-small waves-effect red lighten-2 z-depth-3">Reset</button></a>

            </div>
    </div>



</div>
{% endblock %}