{% extends 'social/base.html' %}


<title>
        {% block title %}
        {{ block.super }}  File and Image Upload
        {% endblock title %}
</title>


{% block content %}

<div class="container">
    <div class="flex-container">
        <span class="h3 mb-3 font-weight-normal">File and Image Upload</span> 
        
    </div> 
    <div class="card-panel teal lighten-2 flex-container">               
                                       
        <form method="post" encthype="multipart/form-data" action="#">
        {% csrf_token %}
        <div class="input-field col s6">
          <input class="btn-primary" id="id_file" type="file" name="ufile"><br><br>
          <input class="btn waves-effect red lighten-2 z-depth-3" type="submit" value="Upload Files" /><br><br>
          {% for fupload in allfile_uploads %}
          <div class="flex-container4">
            <p>{{ fupload.documentfile }}</p>&nbsp&nbsp <button class="btn-sm waves-effect red lighten-2 z-depth-2">Remove</button>
            </div>
            <br>
          {% endfor %} 
        </div>
        <div>
            <hr> 
        </div> 
        <div class="input-field col s6">
                <input class="btn-primary" id="id_image" type="file" name="uimage"><br><br> 
                <input class="btn waves-effect red lighten-2 z-depth-3" type="submit" value="Upload Images" /><br><br>
                {% for iupload in allimage_uploads %}
                <div class="flex-container4">
                    <p>{{ iupload.imagefile }}</p> &nbsp&nbsp <button class="btn-sm waves-effect red lighten-2 z-depth-2">Remove</button>
                </div>
                <br>
                {% endfor %}
                
        </div>                        
        </form>
                                   
    </div>



</div>
{% endblock %}