{% extends 'social/base.html' %}


<title>
        {% block title %}
        {{ block.super }}  File and Image Upload
        {% endblock title %}
</title>


{% block content %}

<div class="container">
    <div class="flex-container">
        <span class="h3 mb-3 font-weight-normal">File and Image Upload</span> 
        
    </div> 
    <div class="card-panel teal lighten-2 flex-container">               
                                       
        <form method="post" encthype="multipart/form-data">
        {% csrf_token %}
        <div class="input-field col s6">
          <input class="btn-primary" id="id_file" type="file" name="ufile"><br><br>
          <input class="btn waves-effect red lighten-2 z-depth-3" type="submit" value="Upload File" />
        <img src="{{ allfiles.documentfile.url }}" width="250px">
         
       

        </div>                        
        </form>
        <div>
            <hr> 
        </div>        
        <form method="post" encthype="multipart/form-data">
          {% csrf_token %}
          <div class="input-field col s6">
            <input class="btn-primary" id="id_image" type="file" name="uimage"><br><br> 
            <input class="btn waves-effect red lighten-2 z-depth-3" type="submit" value="Upload Image" /> 
            <img src="{{ allimages.imagefile.url }}" width="250px">
          </div>                        
        </form>             
                                   
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}




</div>
{% endblock %}