

* {
    margin: 0;
    padding: 0;
}

div.row div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
}

div.brick {
    background-color: darkblue;
    
}

div.pacman {
    background: url(../img/pacman.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

div.coin{
    background: url(../img/goldcoin.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: cover;
}