{% extends 'multiple_apps/base.html' %}


<title>
        {% block title %}
        {{ block.super }}  Image Upload
        {% endblock title %}
</title>


{% block content %}

<div class="container">
    <div class="flex-container">
        <span class="h3 mb-3 font-weight-normal">Image Upload</span> 
        
    </div> 
    <div class="card-panel teal lighten-2 flex-container">                                         
       <form method="post" encthype="multipart/form-data" action="">
        {% csrf_token %}
            
            {{ form.as_p }}

            <input class="btn btn-outline-success waves-effect red lighten-2 z-depth-3" type="submit" value = "Upload Image"><br><br>

            {% for i in img %}
            <img src="{{ i.imagefile.url }}" alt="" width="350px"/>
            {% endfor %}
            
        </form>

</div>

{% endblock %}