{% extends 'pastebin/base.html' %}

<title>
    {% block title %}
    {{ block.super }}  Pastebin Create
    {% endblock title %}
</title>


{% block content %}


<div class="container">
    <div class="socialheading">
        <span class="h2 mb-3 font-weight-normal">Welcome to the Pastebin Project Home Page!</span>
    </div>
    <div class="card-panel teal lighten-3">
        <div class="flex-container">
                <h1 class="h2 mb-3 font-weight-normal">Create new Paste</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <p></p>
                    <input type="submit" name="create" value="Create" class="btn-small waves-effect red lighten-2 z-depth-3">
                </form>
                <a href="{% url 'pastebin_paste_list' %}">View All</a>          
        </div>   
    </div>




{% endblock content %}