

{% extends 'blog/base.html' %}
{% block title %}
Login - {{ block.super }}

{% block content %}


        {% block content %}

        <div class="container">
                <div>
<h1 class="h1 mb-3 font-weight-normal">This is the About Page</h1>
<div>
<div class="card-panel teal lighten-4">
<h3 class="h3 mb-3 font-weight-normal">Our Company</h3>

</div>
</div>

<div class="card-panel teal lighten-4">
<h3 class="h3 mb-3 font-weight-normal">Our Team</h3>

</div>
</div>
</div>
                            

        {% endblock content %}