{% extends 'social/base.html' %}


<title>
        {% block title %}
        {{ block.super }}  Admin Manage Users
        {% endblock title %}
</title>


{% block content %}

<div class="container">
                <div class="card-panel teal lighten-3">               
                                <div class="flex-container">
                                        <span class="h2 mb-3 font-weight-normal">Manage Users</span>
                                        <input class="btn-small waves-effect red lighten-2 z-depth-3" type="submit" value="Add new">   
                                </div>
                                <p></p>
                                <table class="table">
                                        <thead class="red lighten-2 z-depth-1">
                                                <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Created At</th>
                                                <th scope="col">User Level</th>
                                                <th scope="col">Actions</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                <td>1</td>
                                                <td>Michael Choi</td>
                                                <td>michael@village88.com</td>
                                                <td>Dec. 24th 2012</td>
                                                <td>admin</td>
                                                <td><a href="">Edit</a> |  <a href="">Remove</a></td>
                                                </tr>
                                        </tbody>
                                        <tbody>
                                                <tr>
                                                <td>1</td>
                                                <td>Michael Choi</td>
                                                <td>michael@village88.com</td>
                                                <td>Dec. 24th 2012</td>
                                                <td>admin</td>
                                                <td><a href="">Edit</a> |  <a href="">Remove</a></td>
                                                </tr>
                                        </tbody>
                                        <tbody>
                                                <tr>
                                                <td>1</td>
                                                <td>Michael Choi</td>
                                                <td>michael@village88.com</td>
                                                <td>Dec. 24th 2012</td>
                                                <td>admin</td>
                                                <td><a href="">Edit</a> |  <a href="">Remove</a></td>
                                                </tr>
                                        </tbody>
                                        <tbody>
                                                <tr>
                                                <td>1</td>
                                                <td>Michael Choi</td>
                                                <td>michael@village88.com</td>
                                                <td>Dec. 24th 2012</td>
                                                <td>admin</td>
                                                <td><a href="">Edit</a> |  <a href="">Remove</a></td>
                                                </tr>
                                        </tbody>
                                </table>
                    
                        </div>
                      



</div>
{% endblock %}
