* {
    margin: 5px;
    padding: 5px;
}

#main {
    width: 1010px;
    height: 1010px;
}

body {
    font-family: Helvetica Neue, Arial;
    font-size: 14px;
}

h3, h4 {
    color:white;
    font-weight: 700; 

}

.column h3 {
    margin: 0;
    height: 27px;
    padding-top: 8px;
    width: 96.8%;
    border: 0;
    background-color: grey;
}

p {
    padding: 7px;
}
.head {
    display:flex;
    background-color:white;
    justify-content: space-around;
    width: 1000px;
    height: 50px;
}


.head h2 {
    color: black;
    display: inline-block;
    width: 400px;
    height: 50px;
    transform: translate(50px, 5px)
}

.head h1 {
    display: inline-block;
    width: 400px;
    height: 50px;
    transform: translate(-30px)
}

.jayne-col {
    width: 950px;
    min-height: 250px;
    display: inline;
    display: flex;
    justify-content: space-around;
}

.pict img {
    width: 420px;
    min-height: 280px;
    border: 5px solid grey;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    transform: translate(-5px, -6px)
}


.about {
    width: 480px;
    height: 280px;
    background-color: lightpink;
    display: inline-block;
    vertical-align: top;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    transform: translate(28px, 5px)
}

.about h3 {
    margin: 0;
    height: 27px;
    padding-top: 8px;
    width: 98%;
    border: 0;
    background-color: grey;
    vertical-align: top;
}

.about p {
    font-size: 16px;
}

.column {
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}

.content  {
   width: 280px;
   min-height: 500px;
   background-color: white;
   display: inline-block;
   vertical-align: top;
   padding-top: 0px;
   padding-left: 0px;
   padding-right: 0px;
   background-color: lightpink;
   transform: translate(0px, -18px)
}

.content img {
    width: 30px;
    height: 30px;
    display: inline;
    margin-left: 7px;

}

.content .cpict {
    width:200px;
    height:100px;
    display:block;
    margin-left: 35px;
}

.content p {
    width:260px;
    height:150px;
    font-size: 13px;
}

.content h4 {
    margin: 0;
    height: 22px;
    padding-top: 8px;
    width: 96.6%;
    border: 0;
    background-color: grey;
    vertical-align: top;
    transform: translate(0px, -10px)
}

#container {
    width: 1000px;
    height: 900px;
    background-color: #6F5964;
}

.pict {
    height: 300px;
    width: 400px;
    border-width: 2px;
    border-color: #C0C0C0;

}
.footer {
    background-color: white;
    width:100%;
    transform: translate(-10px);

}

.footer p {
    text-align: center;
    width: 100%;
}

.footer ul {
    width: 100%;

}
.footer ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    left: 280px;
}

.footer img {
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
}
.btn1, .btn2, .btn3 {
    background-color: green;
    border-radius: 13px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 7px 7px 6px;
    text-decoration: none;
    position: relative;
    left: 82px;
  }
 
  .btn1 {
      transform: translate(5px, -22px)

  }

  .btn2 {
    transform: translate(-14px, -22px)   
}

.btn3 {
    transform: translate(-5px, -22px)
      
}

