{% extends 'dashboard/base.html' %}


<title>
        {% block title %}
        {{ block.super }}  Edit Profile
        {% endblock title %}
</title>


{% block content %}

<div class="container">
                <h3 class="h3 mb-3 font-weight-normal flex-container">Welcome to the User Dashboard!</h3>
                <div class="row">
                        <div class="col s4 flex-container3">
                                <h5 class="h4 mb-3 font-weight-normal">Edit User #[user_id]</h5>
                                <div class="box">   
                                        <h5 class="h6 mb-3 font-weight-normal">Edit Information</h5>        
                                        <form action="{% url 'register' %}" method="POST">
                                                {% csrf_token %}
                                                <input class="form-control" type="text" name="email" placeholder="Email Address:">
                                                <input class="form-control" type="text" name="first_name" placeholder="First Name:">
                                                <input class="form-control" type="text" name="last_name" placeholder="Last Name:">                            
                                                <input class="btn-small waves-effect red lighten-1 z-depth-3"  type="submit" value="Save">
                                        </form>
                                </div>
                        </div>
                        <div class="col s4 flex-container3">
                                <h5 class="h3 mb-3 font-weight-normal"></h5><br>
                                <div class="box5">   
                                        <h5 class="h6 mb-3 font-weight-normal">Change Password</h5>        
                                        <form action="{% url 'register' %}" method="POST">
                                                {% csrf_token %}
                                                <input class="form-control" type="password" name="password" placeholder="Password:">
                                                <input class="form-control" type="password" name="confirm" placeholder="Confirm PW:">                              
                                                <input class="btn-small waves-effect red lighten-1 z-depth-3"  type="submit" value="Update Password">
                                        </form>
                                </div>

                        </div>

                 </div> 
                 <div class="row flex-container3">
                                <h5 class="h5 mb-3 font-weight-normal">Edit Description</h5>        
                                <form action="" method="POST">
                                        {% csrf_token %}
                                        <input class="form-control-lg scrolltext"  type="textarea" rows="10"> 
                                        <p></p>
                                        <input class="btn-small waves-effect red lighten-1 z-depth-3"  type="submit" value="Save">   
                                </form>
        
                </div> 
       
                
                        <!-- {% if messages %}
                                <ul class="messages">
                                {% for message in messages %}
                                        <li> {% if message.tags %} class="{{ message.tags }}"
                                                {% endif %} 
                                                {{ message }}
                                        </li>
                                {% endfor %}
                                </ul>
                        {% endif %} -->



</div>
{% endblock %}
