{% extends 'dashboard/base.html' %}


<title>
        {% block title %}
        {{ block.super }}  User Info
        {% endblock title %}
</title>


{% block content %}

<div class="container">
    <div class="card-panel teal lighten-3">               
            <div class="flex-container">
                <span class="h3 mb-3 font-weight-normal">Michael Choi</span> 
                
            </div> 
            <div class="flex-container">
                <span class="h5 mb-3 font-weight-normal">Registered at:</span>
                <span class="h5 mb-3 font-weight-normal">User ID:</span>
                <span class="h5 mb-3 font-weight-normal">Email address:</span>
                <span class="h5 mb-3 font-weight-normal">Description:</span>             
           </div> 
           <p></p>
           <div class="flex-container">
                        <span class="h3 mb-3 font-weight-normal">Leave a message for Michael</span> 
                        <textarea class="form-control" rows="10" ></textarea>
                        <p></p>
                        <input class="btn waves-effect red lighten-2 z-depth-3" type="submit" value="Post"> 
                        
          </div>

        </div>



</div>
{% endblock %}
